@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-url: url(../../public/bg-desktop.jpg);
  }
  
  .light {
    --bg-url: url(../../public/bg-desktop-light.jpg);
  }

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}